## 4.6 Combining & Exporting Data

#### Merging data

#### 01. Importing
#### 02. Merging
#### 03. Tasks
#### 04. Exporting

### 01. Importing

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [14]:
# Importing data
path = r'/Users/ngawangdhundup/Desktop/career foundry bootcamp/DM Achievement 4'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.shape

(3421083, 7)

### 02. Merging

In [8]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,11.114836,196,1,0,both
1,0,2539329,1,1,2,8,11.114836,14084,2,0,both
2,0,2539329,1,1,2,8,11.114836,12427,3,0,both
3,0,2539329,1,1,2,8,11.114836,26088,4,0,both
4,0,2539329,1,1,2,8,11.114836,26405,5,0,both

In [11]:
# Deleting unused column
del df_merged_large['Unnamed: 0']

In [20]:
df_merged_large.shape

(32434489, 10)

In [12]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.114836,196,1,0,both
1,2539329,1,1,2,8,11.114836,14084,2,0,both
2,2539329,1,1,2,8,11.114836,12427,3,0,both
3,2539329,1,1,2,8,11.114836,26088,4,0,both
4,2539329,1,1,2,8,11.114836,26405,5,0,both

In [13]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
df_orders_products_combined = df_merged_large

## export as pickle

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [16]:
# Check products df output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
df_prods.shape

(49672, 6)

In [18]:
# Deleting unused column
del df_prods['Unnamed: 0']

In [19]:
df_prods.shape

(49672, 5)

In [23]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.114836,196,1,0,both
1,2539329,1,1,2,8,11.114836,14084,2,0,both
2,2539329,1,1,2,8,11.114836,12427,3,0,both
3,2539329,1,1,2,8,11.114836,26088,4,0,both
4,2539329,1,1,2,8,11.114836,26405,5,0,both